
<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Sixteen Clothing HTML Template</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css"> 
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap-social.css" rel="stylesheet" type="text/css">	
	<link href="assets/css/templatemo_style.css" rel="stylesheet" type="text/css"> 

    <!-- Bootstrap core CSS -->
    <link href={{boostrap}} rel="stylesheet">
    <!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../assets/css/fontawesome.css">
    <link rel="stylesheet" href="../assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="../assets/css/owl.css">
    <link rel="stylesheet" href="../assets/css/style_detail.css">

    <!-- Slick -->
 		<link type="text/css" rel="stylesheet" href="../assets/css/slick.css"/>
     <link type="text/css" rel="stylesheet" href="../assets/css/slick-theme.css"/>
     
    <!-- nouislider -->
     <link type="text/css" rel="stylesheet" href="../assets/css/nouislider.min.css"/>
     
     <!-- Font Awesome Icon -->
 		<link rel="stylesheet" href="../assets/css/font-awesome.min.css">

 		<!-- Custom stlylesheet -->
 		<link type="text/css" rel="stylesheet" href="../assets/css/style.css"/>

    <link href={{boostrap2}} rel="stylesheet">
</head>
<body>
{{{body}}}

    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



    <!-- Additional Scripts -->
    <script src="../assets/js/custom.js"></script>
    <script src="../assets/js/owl.js"></script>
    <script src="../assets/js/slick.js"></script>
    <script src="../assets/js/isotope.js"></script>
    <script src="../assets/js/accordions.js"></script>
    

    <script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/bootstrap.min.js"></script>
		<script src="../assets/js/slick.min.js"></script>
		<script src="../assets/js/nouislider.min.js"></script>
		<script src="../assets/js/jquery.zoom.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>
</html>
